.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cbedd5;
  padding: 15px;
}

.title {
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  color: #6d72b6;
}

.navbar-links ul {
  list-style: none;
  display: flex;
}

.navbar-links ul li {
  padding: 0 20px;
}

.navbar-links ul li a {
  font-family: "Roboto Slab", serif;
  text-decoration: none;
  color: #3c428f;
  font-size: 18px;
  padding-left: 30px;
  padding-right: 30px;
}

.navbar-links ul li a:hover {
  background-color: #a4d4ae;
  color: #3c428f;
  border-radius: 20px;
  padding-left: 30px;
  padding-right: 30px;
}
