<div class="container">
  <img class="vigyaan" src="./assets/images/vigyaan.jpg" alt="group photo" />
  <div class="para">
    My team The Innovation Ninjas was the finalist in VIGYAAN, the National
    Science Exhibition organized by NIT Raipur. As the team leader and frontend
    developer, I led a team of three members to create a hostel chatbot. Our
    project focused on solving the problem of complaint resolution at the
    hostel, streamlining the process for better efficiency and user experience.
    <br />
    <a
      href="https://drive.google.com/file/d/17BGSvlF2MU38l7dA3RcZJWILx-Z3SOSZ/view"
      style="color: yellow"
      >Certificate</a
    >
  </div>
</div>

<div class="container">
  <img class="leetcode" src="./assets/images/leetcode.png" alt="logo" />
  <div class="para">
    I have solved over 600 problems on LeetCode and Codeforces, demonstrating my
    strong problem-solving skills across various domains like algorithms and
    data structures. With a rating above 1600, I am among the top performers on
    the platform. This reflects my advanced proficiency, consistency, and
    dedication to mastering complex coding challenges and continuously improving
    my technical abilities.
    <br />
    <a href="https://leetcode.com/vikas_kumar18/" style="color: yellow"
      >Leetcode Profile</a
    >
    <br />
    <a
      href="https://codeforces.com/profile/Vikas_Kumar_18"
      style="color: yellow"
      >Codeforces Profile</a
    >
  </div>
</div>
